
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Domine:wght@400..700&display=swap');

/* ====== Globais ====== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ====== Body ====== */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* ====== Header ====== */
header {
    padding: 56px;
    background: forestgreen url(images/forest.jpg) center top no-repeat;
    background-size: cover;
}

/* Título */
header > h1 {
    text-align: center;
    font-family: Courgette, cursive; 
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    font-size: 2.799em;
    padding: 24px 12px;
    border-radius: 36px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.286);
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.503);
}

/* Link menu */
header a {
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    border-radius: 45%;
    top: 6px;
    right: 6px;
}

/* Menu em si */
span#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    background-color: rgba(0, 0, 0, 0.125);
    border: 0px solid olive;
    color: white;
    border-radius: 40%;
    padding: 12px;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

span#menu:hover {
    font-size: 1.6em;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.384);
    background-color: rgba(0, 0, 0, 0.355);
    border: 1px solid rgba(255, 255, 255, 0.481);
    box-shadow: 4px 4px 12px 0px rgba(255, 255, 255, 0.212);
}

/* ====== Main ====== */
main {
    padding: 56px ;
}

/*  ====== Lugar que abriga cada um ====== */
main > section {
    display: flex;
    height: 530px;
    min-width: 630px;
    max-width: 800px;
    margin: 0px auto 108px auto;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.151);
    border-radius: 12px;
}


/* Títulos de cada pessoa */
main h2 {
    font-family: Domine, Times, serif;
    color: rgb(77, 107, 0);
    text-align: center;
    font-size: 2em;
}
 /* Negrito */
main strong {
    color: rgb(53, 69, 0);
}


/* ====== Imagem da seção ====== */
img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: 12px 0px 0px 12px;
}


/* Fala de cada um */
em#diana {
    color: blue;
    font-family: Courgette, cursive;
    font-size: 1.2em;
}

em#toshio {
    color: rgb(0, 171, 145);
    font-family: Courgette, cursive;
    font-size: 1.2em;
}

em#medina {
    color: rgb(230, 79, 250);
    font-family: Courgette, cursive;
    font-size: 1.2em;
}

em#rocha {
    color: rgb(101, 159, 204);
    font-family: Courgette, cursive;
    font-size: 1.2em;
}

em#alice {
    color: rgb(212, 46, 132);
    font-family: Courgette, cursive;
    font-size: 1.2em;
}

em#luara {
    color: rgb(255, 98, 0);
    font-family: Courgette, cursive;
    font-size: 1.2em;
}

/* Textos com as informações */
main p {
    margin: 24px 12px;
    line-height: 1.5em;
}

/* Caixa da informação */
main article.info {
    background-color: rgb(247, 247, 247);
    width: 100%;
    padding: 16px;
    border-radius: 0px 12px 12px 0px;
}


/* ====== Footer ====== */
footer {
    background-color: rgb(194, 216, 142);
    padding: 16px 12px 56px 12px;
    border-top: 3px solid rgb(133, 154, 82);
}

footer > p {
    text-align: center;
    font-size: 1.2em;
}

footer a {
    text-decoration: none;
    color: rgb(254, 254, 254);
}

footer a:hover {
    font-weight: bold;
    text-decoration: underline;
}